<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/common.css">
  </head>
  <body>
    <div id="appRoot"></div>   
  </body>
  <script src="/scripts/common.js?v=2017010501"></script>
  <script src="/scripts/logInReg.entry.js?v=2017010501"></script>
</html>

